*{
    box-sizing: border-box;
}
body {
    font-family:Arial,
        Tahoma,
        sans-serif; ;
}
.control-buttons {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(3, 169, 244, 0.9) ;
    z-index: 2;
}
.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F44336;
    color: #FFF;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
        cursor: pointer;
}
.info-container {
    width: 1080px;
    margin: 20px auto 0;
    background-color: #F6F6F6;
    padding: 20px;
    font-size: 24px;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.memory-game-blocks {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    margin: 20px auto;
}
.memory-game-blocks .game-block {
    height: 150px;
    cursor: pointer ;
    position: relative;
    flex: 1 0 150px;
    margin:0 10px 20px ;
    transition: transform .5s;
    transform-style: preserve-3d;

}
.memory-game-blocks.no-clicking {
    pointer-events: none;
}
.memory-game-blocks .game-block .front {
    background-color: #333;
    line-height: 150px;
}
.memory-game-blocks .game-block .front:before {
    content: '!';
    color: #FFF;
    font-size: 110px;
    font-weight: bold;
}
.memory-game-blocks .game-block .back {
    background-color: #607D8B;
    transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
    width: 110px;
    height: 110px;
    margin-top: 10px;
}

.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196F3;
}
.memory-game-blocks .game-block.is-flipped ,
.memory-game-blocks .game-block.has-match{ 
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}
.model {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
    width: fit-content;
}
.model span {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.model img {
    width: 100px;
    border-radius: 50%;
    margin: 10px 0;
}

